In [1]:
import datetime
import pandas as pd

In [2]:
df = pd.read_csv('c:\\temp\\RY.TO.csv', index_col = 0)

In [22]:
df.shift(1).tail(5)

             Open   High    Low  Close   Volume
Date
2016-03-23  74.89  75.35  74.65  74.79  3483872
2016-03-24  74.75  75.18  74.38  74.94  2806004
2016-03-28  74.24  74.29  73.56  73.97  3894950
2016-03-29  74.10  74.82  73.80  74.75  2147761
2016-03-30  74.40  74.85  73.70  74.78  3495002

In [26]:
(df.Close - df.Close.shift(1)) * df.Volume

Date
1990-01-02            NaN
1990-01-03       12715.71
1990-01-04           0.00
1990-01-05      -39996.68
1990-01-08      -30831.06
1990-01-09     -111440.10
1990-01-10      -24552.87
1990-01-11           0.00
1990-01-12     -480501.00
1990-01-15       28089.59
1990-01-16      117970.65
1990-01-17       63325.80
1990-01-18     -105449.50
1990-01-19      -18304.42
1990-01-22     -217496.64
1990-01-23     -143583.96
1990-01-24    -1480728.92
1990-01-25      -48981.94
1990-01-26     -448776.30
1990-01-29           0.00
1990-01-30     -105414.66
1990-01-31      -86703.32
1990-02-01      158596.86
1990-02-02       37185.92
1990-02-05       59607.94
1990-02-06       96794.04
1990-02-07      -59206.08
1990-02-08           0.00
1990-02-09       -8661.06
1990-02-12           0.00
                 ...
2016-02-17     8826713.28
2016-02-18      215995.60
2016-02-19     1593400.48
2016-02-22    -4611614.73
2016-02-23    -4495398.02
2016-02-24   -19207832.28
2016-02-25     -145400.67
2016-02-26     1977165.96
2016-02-29     3648692.58
2016-03-01     5502769.25
2016-03-02      -49034.64
2016-03-03     2527678.00
2016-03-04     2838691.17
2016-03-07     3840569.88
2016-03-08     2480700.96
2016-03-09     2641763.28
2016-03-10      126536.22
2016-03-11     5032164.41
2016-03-14           0.00
2016-03-15     1339809.45
2016-03-16       81341.98
2016-03-17     7806899.88
2016-03-18    -5856008.32
2016-03-21      352888.80
2016-03-22    -1846452.16
2016-03-23      420900.60
2016-03-24    -3778101.50
2016-03-28     1675253.58
2016-03-29      104850.06
2016-03-30     1376308.96
dtype: float64

In [16]:
s_rolling_high.tail(5) - s_rolling_low.tail(5)

Date
2016-03-23    5.75
2016-03-24    5.26
2016-03-28    4.47
2016-03-29    3.49
2016-03-30    3.49
dtype: float64

In [14]:
s_rolling_high.tail(5) - s_rolling_low.tail(5)

Date
2016-03-23    76.25
2016-03-24    76.25
2016-03-28    76.25
2016-03-29    76.25
2016-03-30    76.25
Name: High, dtype: float64

Date
2016-03-23    70.50
2016-03-24    70.99
2016-03-28    71.78
2016-03-29    72.76
2016-03-30    72.76
Name: Low, dtype: float64

In [17]:
# %R = (Highest High - Close)/(Highest High - Lowest Low) * -100
(s_rolling_high - df.Close) / (s_rolling_high - s_rolling_low) * -100

Date
1990-01-02           NaN
1990-01-03           NaN
1990-01-04           NaN
1990-01-05           NaN
1990-01-08           NaN
1990-01-09           NaN
1990-01-10           NaN
1990-01-11           NaN
1990-01-12           NaN
1990-01-15           NaN
1990-01-16           NaN
1990-01-17           NaN
1990-01-18           NaN
1990-01-19    -78.947368
1990-01-22   -100.000000
1990-01-23    -96.428571
1990-01-24    -90.243902
1990-01-25    -94.871795
1990-01-26    -90.697674
1990-01-29    -90.476190
1990-01-30   -100.000000
1990-01-31    -97.959184
1990-02-01    -85.714286
1990-02-02    -81.632653
1990-02-05    -67.346939
1990-02-06    -50.000000
1990-02-07    -59.090909
1990-02-08    -57.142857
1990-02-09    -55.555556
1990-02-12    -33.333333
                 ...
2016-02-17    -19.925280
2016-02-18    -19.302615
2016-02-19     -5.849582
2016-02-22    -20.080321
2016-02-23    -31.593039
2016-02-24    -55.957162
2016-02-25    -56.358768
2016-02-26    -49.531459
2016-02-29    -39.089692
2016-03-01    -24.765730
2016-03-02    -24.899598
2016-03-03    -19.254658
2016-03-04     -9.472050
2016-03-07     -1.038576
2016-03-08     -0.000000
2016-03-09     -6.012270
2016-03-10     -9.208973
2016-03-11     -0.571429
2016-03-14     -4.185022
2016-03-15     -0.412088
2016-03-16     -6.758621
2016-03-17     -4.881101
2016-03-18    -14.325452
2016-03-21    -12.934631
2016-03-22    -23.548387
2016-03-23    -22.782609
2016-03-24    -43.346008
2016-03-28    -33.557047
2016-03-29    -42.120344
2016-03-30    -15.759312
dtype: float64